* {
    margin : 0px; padding : 0px;
    color : #3f3d42;
    border : 1px solid red;
    
}

.box {
    background-color : #1d2475;
    width : 300px;
    height : 600px;
    float : left;
    margin : 0 50px;

}

.box-wrapper {
    width : 1200px;
}

article {
    display : block;
    margin : auto;
    text-align : center;
    margin-top : 25px;
}

h1 {
    margin-left : 50px;
    margin-bottom : 25px;
    font-size : 50px;
}

h2, p, hr {
    text-align: left;
    color: white;
    margin-left : 25px;
    margin-top : 8px;
}

#tel {
    list-style-image : url("전화.png");
    height: 50px;
}

#add {
    list-style-image : url("주소.png");
    height: 50px;
}

hr {
    width : "250px";
}
